@import "../../styles/variables.scss";

.addressInfo {
  margin: auto;
  margin-top: 50px;
  width: 90%;
  background: $pink;
  padding: 50px 0 75px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 15px;
  max-width: 800px;
  .headline {
    margin: 0 0 30px 10%;
    color: #fff;
    font-size: 2.5em;
    font-weight: 300;
    max-width: 75%;
  }

  .inputWrapper {
    > * {
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 100px;
      margin: auto;
      align-items: center;

      :nth-child(1) {
        color: #eff;
        font-size: 1.25em;
        width: 100%;
      }
      :nth-child(2) {
        width: 95%;
        padding: 10px;
        border: none;
        background: #fff;
        height: 45px;
        margin-top: 5px;
        margin-bottom: 20px;
        border-radius: 5px;
        font-size: 1.3em;
        color: #555;
      }
      span {
        color: red;
        position: relative;
        left: 49%;
        bottom: 67px;
      }
    }
  }
  .err {
    // margin-top: -37px;
    color: red;
    position: relative;
    top: -30px;
  }
  // }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .btnLeft {
      background: $dark-green;
      width: 45%;
      height: 75px;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-size: 2em;
      margin: 0;
      @media (max-width: 600px) {
        font-size: 1.5em;
      }
    }
    .btnRight {
      background: $dark-green;
      width: 45%;
      height: 75px;
      border: none;
      border-radius: 10px;
      color: #fff;
      font-size: 2em;
      margin: 0;
      @media (max-width: 600px) {
        font-size: 1.5em;
      }
    }
  }
  .totals {
    margin: auto;
    color: #fff;
    font-size: 1.3em;
    margin-bottom: 30px;
    :nth-child(odd) {
      color: #888;
      font-size: 0.85em;
    }
  }
}

.cardWrapper {
  margin-bottom: 30px;
  .err {
    color: red;
    font-size: 0.95em;
  }
}

.card {
  font-size: 2em !important;
  margin-bottom: 5px !important;
  :first-child {
    font-size: 2em;
  }
}
