@import "../../styles/variables.scss";

.wrapper {
  .headline {
    font-family: $cursive;
    font-weight: 300;
    color: $dark-green;
    font-size: 4em;
    margin-left: min(80px, 10%);
  }

  .linkWrapper {
    display: flex;
    align-items: center;
    width: 80%;
    margin: auto;
    cursor: pointer;
    .imgWrapper {
      width: 100px;
      height: 100px;
      min-width: 100px;
      min-height: 100px;
      margin-right: 10px;
    }

    .details {
      .title {
      }

      .summary {
      }
    }
  }
}
