@import "../../styles/variables.scss";

.cartModal {
  background: rgba($pink, 0.98);
  border-radius: 10px;
  height: 90%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  .close {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0;
    width: 50px;
    height: 50px;
    align-self: flex-end;
    background: $dark-green;
    color: white;
    border: none;
    border-radius: 5px;
  }

  .cart {
    background: #88888888;
    padding: 20px;
    height: 70%;
    overflow-y: scroll;
    color: white !important;
    .headline {
      font-family: $cursive;
      color: #fff;
      font-size: 3em;
      font-weight: 500;
      align-self: flex-start;
      margin-left: 20px;
      margin: 10px;
    }
  }

  .checkout {
    background: $dark-green;
    color: white;
    height: 60px;
    width: 50%;
    border-radius: 5px;
    border: none;
    font-size: 2em;
    margin-bottom: 30px;
  }
}
